body{
    background-image: url(../assets/images/acuarela1.jpg)
}

#comentario{
    width: 80%;
    height: 5vh;
    margin-top: 5%;
    border:1px solid #1DA1F2;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

#benviar{
    background-color: transparent;
    color: #1DA1F2;
    display: inline-block;
    
}
#comments{
list-style: none;
text-decoration: none;
}

.carousel{
    border: 1px solid black;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
}

.carousel-item{
    margin-left: 50%;
}

.navbar-expand-lg {
    background-image: url(../assets/images/fondo.jpg)
}

.principal {
    background-color: aqua;
    text-align: center;
}

.initial {
    width: 55%;
    margin-left: 24%;
    display: inline-block;
}

.news {
    display: inline-block;
    width: 40%;
}

.news>a>img {
    float: right;
    width: 100%;
}

.profile {
    border-radius: 50%;
    height: 5vh;
}

.fixed-bottom{
    text-decoration: none;
    list-style: none;
}

li>a>i>.fa {
    font-size: 20px;
    color:white;
    transition: all .2s ease-in-out;
  }


  li>a>i.fa:hover {
    cursor: pointer;
    color: white;
  }

  .nav-link{
      color: white;
  }

  .heart,
  .trash,
  .comment{
      float: right;
      margin-left: 5%;
  }

.logo{
    width: 20%;
    height: 10vh;
    margin-left: 37%;
}


