.principal {
    background-color: aqua;
    text-align: center;
}

.initial {
    width: 55%;
    margin-left: 24%;
    display: inline-block;
}

.news {
    display: inline-block;
    width: 40%;
}

.news>a>img {
    float: right;
    width: 100%;
}

.profile {
    border-radius: 50%;
    height: 5vh;
}

.fixed-bottom{
    text-decoration: none;
    list-style: none;
}

li>a>i>.fa {
    font-size: 20px;
    color: #6E7F8D;
    transition: all .2s ease-in-out;
  }
  
  
  li>a>i.fa:hover {
    cursor: pointer;
    color: #1DA1F2;
  }
 
  .heart,
  .trash,
  .comment{
      float: right;
      margin-left: 5%;
  }